.brand {
    color: #F5B041;
    font-weight: bold;
    font-size: 2em;
 }

 .custom-link {
     color:white;
     padding:0 0;
 }

 #navbar {
    position: fixed;
    width: 100%;
    transition: top 0.3s;
    z-index:1
  }