<div class="jumbotron background">
    <h1 class="display-4 heading">Ghungroo</h1>
    <h1 class="display-4">School of Dance!</h1>
    <p class="lead">Dance is the expression of your soul. And when you dance it's your soul dancing over.</p>
    <hr class="my-4">
    <p>Ghungroo offers Dance Choreo classes based on different songs and styles (Bollywood / Semi-classical / Folk/ BollyFusion/ Bollyhop)
        Event Choreography and Theme based Workshops.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg button" href="#" role="button">Come dance with us!</a>
    </p>
  </div>