<div class="container-fluid background parallax">
    <div class="row mt-3">
        <div class="col-12 text-center mt-4 mb-4">
            <h2 class="display-5 heading"><b>About Ghungroo!</b></h2>
        </div>
    </div>
    <div class="card-group">
        <div class="card bg-transparent border-dark ml-1 mr-1 mb-3">
            <div class="card-header">About Us</div>
            <div class="card-body">
                <h5 class="card-title">What We Do!</h5>
                <p class="card-text">Ghungroo offers Dance Choreo classes based on different songs and styles (Bollywood
                    / Semi-classical / Folk/ BollyFusion/ Bollyhop)
                    Event Choreography and Theme based Workshops.</p>
            </div>
        </div>
        <div class="card text-white bg-info ml-1 mr-1 mb-3">
            <div class="card-header">About Us</div>
            <div class="card-body">
                <h5 class="card-title">Who we are!</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
        <div class="card text-white bg-info ml-1 mr-1 mb-3">
            <div class="card-header">About Us</div>
            <div class="card-body">
                <h5 class="card-title">Our Promise!</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div>
    
</div>