<div class="container-fluid background">
    <div class="row mt-3">
        <div class="col-12 text-center mt-4">
            <h2 class="display-5 heading"><b>Classes We Offer!</b></h2>
        </div>
    </div>
    <div class="row mt-3">
        <div *ngFor="let class of classes" class="col-lg-4 col-sm-12 mb-4">
            <div class="card custom">
                <img class="card-img-top" src="{{class.imageUrl}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{class.heading}}</h5>
                    <p class="card-text"><i class="fa fa-calendar" aria-hidden="true"></i>  {{class.days}}</p>
                    <p class="card-text"><i class="fa fa-clock-o" aria-hidden="true"></i>  {{class.time}}</p>
                    <a href="#" class="btn btn-primary button">Enroll</a>
                </div>
            </div>
        </div>
    </div>
</div>
