<div class="container-fluid background">
    <div class="row mt-3">
        <div class="col-12 text-center mt-4">
            <h2 class="display-5 heading"><b>To Enroll, Contant Me</b></h2>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-4" style="border-right:solid thick white">
            <h5>Reena Iyer</h5>
            <p>Founder</p>
        </div>
        <div class="col-8">
            <p><i class="fa fa-envelope" aria-hidden="true"></i><span style="font-size:0.85em"> ghungroo.dancebeats@gmail.com</span></p>
            <p><i class="fa fa-whatsapp" aria-hidden="true"></i> 9980235300</p>
            <p><i class="fa fa-facebook-official" aria-hidden="true"></i><a style="color:white !important" href="https://www.facebook.com/GhungrooDanceSchool"> <u>Ghungroo School of Dance</u></a>
            </p>
        </div>
    </div>
</div>