@import "../../../../app.component.scss";

.background {
    border-radius: 0 !important ;
    background:url(../../../../../assets/images/contact.jpg) no-repeat center;
    background-size:cover;
    color:white;
    margin-top:-1em;
}

.heading{
    color:white;
}

.custom {
    color: white;
    background: transparent !important;
    border: solid white;
}


